
    <div style="float: left;
    margin: 14px 88px 0 6px;
    width: 30%;
    border-style: thin;
    border-style: solid;">
    <div style="
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;font-size: medium;">
        <h4>{{text}}</h4>
      <hr style="width:90%;border: 1px solid"/>
    </div>
    <div style="font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;">

                {{currentUser.name}}
            
            </div>
            <div style="
            padding: 10px 10px;">
                 <div style="float: left;"><i style="font-size:24px" class="fa">&#xf3c5;</i></div>
                 <div style="padding-left: 29px;">{{currentUser.address.street}}{{currentUser.address.suite}}</div>
                 <div style="padding-left: 29px;">{{currentUser.address.city}}{{currentUser.address.zipcode}}</div>
            </div>
            <div style="
            padding-left: 10px;
            padding-top: 10px;">
            <i style="font-size:24px" class="fa">&#xf879;</i>
                 {{currentUser.phone}}
            </div>
            <div style="
            padding-left: 10px;
            padding-top: 10px;">
              <i style="font-size:24px" class="fa">&#xf0e0;</i>
                {{currentUser.email}}
            </div>
               
    </div>
    <div style="
    margin-left: 384px;
    margin-top: 10px;">
        <h6></h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        
               
        
        <div style="border-style: thin;
            border-style: solid;margin-bottom: 2%;" *ngFor="let post of posts">
           <div style=" font-weight: bold;padding-left: 3%;padding-bottom: 2%;padding-top: 2%">  {{post.title}} </div>
            
           <div style=" padding-left: 10%;padding-bottom: 2%;">   {{post.body}}</div>
           <hr style="width:100%;border: 1px solid"/>

           <div *ngFor="let comment of post.comment">
            <div style=" font-weight: bold;padding-left: 3%;padding-bottom: 2%;padding-top: 2%">  {{comment.name}} </div>
            <div style=" padding-left: 10%;padding-bottom: 2%;"> {{ comment.body }}</div>
            <hr style="width:90%;border: 1px solid"/>
           
           </div>
        </div>
       
    
        <h6></h6>
    
    </div>
